// @use "sass:list";
// @use "sass:map";
// @use "./_scssLibNt/scssGeneralUtil";

// html {
//   position: relative;
//   height: 100%;
//   border: 1px solid red;
// }
// 
// body, #root {
//   height: 100%;
//   border: 1px solid orange;
// }

// no need, just let it flow -- limit was not how that used in check
// max height those just not working, just use height 

// #root > ul, #root > ul * {
//   height: 90%;
//   position: relative;
// }

pre {
  margin: 0;
}


// ############


// TODO
// ;not_applicable; .hlMs {
// ;not_applicable;   --rgba-rgb: 0,255,255; // aqua; // ok cuz use English name not number & scss var substitute is wrong
// ;not_applicable;   --rgba-opa: 0.5;
// ;not_applicable;   --color-main: rgba(var(--rgba-rgb), var(--rgba-opa));
// ;not_applicable; }
// ;not_applicable; 
// ;not_applicable; .hlBlockWordBgMs {
// ;not_applicable;   background-color: var(--color-main);
// ;not_applicable; }
// ;not_applicable; 
// ;not_applicable; .hlBlockWordBgMs:not(.hlBlockWordBgMs .hlBlockWordBgMs) { /* hierachy top -- the .hlBlockWordBgMs elements that are at the top -- not nest inside any other .hlBlockWordBgMs */
// ;not_applicable;   --lineargradient-deg: -1deg;
// ;not_applicable;   --color-main-hierachylv1: var(--color-main);
// ;not_applicable; }
// ;not_applicable; .hlBlockWordBgMs:not(.hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs):not(.hlBlockWordBgMs:not(.hlBlockWordBgMs .hlBlockWordBgMs)) { /* hierachy lv2 */
// ;not_applicable;   --color-main-hierachylv2: var(--color-main);
// ;not_applicable;   background-image: linear-gradient(var(--lineargradient-deg), var(--color-main-hierachylv1) calc(25% - 20%) calc(25% + 20%), var(--color-main-hierachylv2) calc(75% - 20%) calc(75% + 20%));
// ;not_applicable; }
// ;not_applicable; .hlBlockWordBgMs:not(.hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs):not(.hlBlockWordBgMs:not(.hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs)) { /* hierachy lv3 */
// ;not_applicable;   --color-main-hierachylv3: var(--color-main);
// ;not_applicable;   background-image: linear-gradient(var(--lineargradient-deg), var(--color-main-hierachylv1) calc(16.66% - 15%) calc(16.66% + 15%), var(--color-main-hierachylv2) calc(50% - 15%) calc(50% + 15%), var(--color-main-hierachylv3) calc(83.33% - 15%) calc(83.33% + 15%));
// ;not_applicable; }
// ;not_applicable; .hlBlockWordBgMs:not(.hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs):not(.hlBlockWordBgMs:not(.hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs)) {
// ;not_applicable;   --color-main-hierachylv4: var(--color-main);
// ;not_applicable;   background-image: linear-gradient(var(--lineargradient-deg), var(--color-main-hierachylv1) calc(12.5% - 10%) calc(12.5% + 10%), var(--color-main-hierachylv2) calc(37.5% - 10%) calc(37.5% + 10%), var(--color-main-hierachylv3) calc(62.5% - 10%) calc(62.5% + 10%), var(--color-main-hierachylv4) calc(87.5% - 10%) calc(87.5% + 10%));
// ;not_applicable; }
// ;not_applicable; .hlBlockWordBgMs:not(.hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs):not(.hlBlockWordBgMs:not(.hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs)) {
// ;not_applicable;   --color-main-hierachylv5: var(--color-main);
// ;not_applicable;   background-image: linear-gradient(var(--lineargradient-deg), var(--color-main-hierachylv1) calc(10% - 10%) calc(10% + 10%), var(--color-main-hierachylv2) calc(30% - 10%) calc(30% + 10%), var(--color-main-hierachylv3) calc(50% - 10%) calc(50% + 10%), var(--color-main-hierachylv4) calc(70% - 10%) calc(70% + 10%), var(--color-main-hierachylv5) calc(90% - 10%) calc(90% + 10%));
// ;not_applicable; }
// ;not_applicable; .hlBlockWordBgMs:not(.hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs):not(.hlBlockWordBgMs:not(.hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs .hlBlockWordBgMs)) {
// ;not_applicable;   --color-main-hierachylv6: var(--color-main);
// ;not_applicable;   background-image: linear-gradient(var(--lineargradient-deg), var(--color-main-hierachylv1) calc(8.33% - 8%) calc(8.33% + 8%), var(--color-main-hierachylv2) calc(25% - 8%) calc(25% + 8%), var(--color-main-hierachylv3) calc(41.66% - 8%) calc(41.66% + 8%), var(--color-main-hierachylv4) calc(58.33% - 8%) calc(58.33% + 8%), var(--color-main-hierachylv5) calc(75% - 8%) calc(75% + 8%), var(--color-main-hierachylv6) calc(91.66% - 8%) calc(91.66% + 8%));
// ;not_applicable; }


// ############

.css_MediaStreamLocalSelfRcomp, .css_WebrtcConnectionAnchorRcomp {
  height: 100px; // @jsx
  // height: 400px; // @jsx
  border: 1px solid rgb(200, 200, 200, 0.5);
  position: relative;
  overflow: scroll;
  resize: both;
}

.css_WebcamVideo { 
  height: 80%;
  // height: 10%;
}

.css_VideoConnectionLinkageDraftCurrSelected {
  border: 2px solid rgb(0, 255, 0, 0.5);
  // ;; --rgba-rgb: #{scssGeneralUtil.rgb2list(#{rgb(0, 255, 0)})};
}
.css_webrtcConnectionAnchor_peer_connected {
  border: 2px solid rgb(200, 0, 255, 0.5);
  // ;; --rgba-rgb: #{scssGeneralUtil.rgb2list(#{rgb(200, 0, 255)})};
}
.css_VideoConnectionLinkageDraftCurrSelected.css_webrtcConnectionAnchor_peer_connected  { // TODO temparay measure
  border: 2px solid rgb(0, 255, 0, 0.5);
  outline: 2px inset rgb(200, 0, 255, 0.5);
}

.css_LobbyUserListSelf {
  border: 2px solid rgb(255, 153, 0, 0.5);
}

.css_VideoConnectionLinkageDraftControlPanel {
  border: 2px solid rgb(30, 0, 255);
  position: fixed;
  bottom: 10px;
}


// ? why it doesnt work on id, but only cssClass?
.scrollAfterEnd::before {
  height: 1600px;
  content: "";
  display: block;
}

.css_test {
  background-color: red;
}

.css_buttonDisabled_byXstate {
  border-right: 5px solid rgb(200, 0, 0, 0.5);
}
.css_buttonDisabled_byManualCode {
  /*  */
  // border-left: 1px solid rgb(200, 0, 0, 0.5);
}

